<% if user_signed_in? %>
  <% if current_user.admin? || current_user.professor?%>
    <%= link_to new_user_invitation_path do %>
      <i class="fa-solid fa-square-plus ms-3 mt-2 fs-1 fawesome-color"></i>
    <% end %>
  <% end %>
<% end %>

<% @clients.each do |client| %>
  <div class="card border-radius text-center mx-3 mt-2">
    <div class="card-header">
      <%= client.first_name %> <%= client.last_name %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-body-secondary">
      Dias até novo pagamento: 2 days ago
    </div>
  </div>

<% end %>
