<% if user_signed_in? %>
  <% if current_user.admin? || current_user.professor?%>
    <%= link_to new_aula_path do %>
      <i class="fa-solid fa-square-plus ms-3 mt-2 fs-1 fawesome-color"></i>
    <% end %>
  <% end %>
<% end %>

<section class="mt-2 mb-4">
  <%= render 'calendar_scroll' %>
</section>

<section>
  <%= render 'class_card' %>
</section>
