<% if controller_name === "aulas" && action_name === "index" %>
  <h1>Marcação de aulas</h1>
<% elsif controller_name === "aulas" && action_name === "today" %>
  <h1>Agenda para hoje</h1>
<% elsif controller_name === "aulas" && action_name === "show" %>
  <h1><%= @aula.title %></h1>
<% end %>
